# Virtual Environments
.venv/
env/
venv/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
init/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Testing & Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Data directories
data/
*.csv

# Model binaries
*.pkl
*.joblib
*.h5